<div class="container">
  <div class="card bg-light" style="position:relative; background-color:rgb(253, 253, 155);  padding: 20px">
    <div class="card-header">
      <h3> Warnning!</h3>
      <hr/>
      - <strong>Use the code/ QR</strong>
      <br/>
          <p>Using the code/ QR that is sent in your email/ message to start the reserved machine. <br/>
          The code can be used on the reserved DateTime and will be expired after 15 minutes, If not used!</p>
      - <strong>Reserved time</strong>
          <p>If you are not able to use your reserved time, please cancel it in this link <a target="_blank" href="http://localhost:4200/booking-list">Cancel your Reservation</a></p>
    </div>
  </div>
</div>
