.container {
  background-color: rgb(112, 112, 108);
  height: 100%;
}
.card{
  position:relative;
  background-color:rgb(169, 169, 148);
  padding: 20px;
  font-size:medium
}
.card-block{
  margin: 100px 50px 0 50px;
  padding: 20px;
  width: 30%;
  background-color:rgb(169, 169, 148);
  float: right;
  display: flex;
}
.card-block h6{
  font-size:medium

}
.card-block h6 strong{
  font-size:medium


}

form {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0 50px;
  padding:40px;
  background-color:rgb(220, 220, 198);
}



