.container {
  margin-top: 50px;
  max-width: 400px;
}
.card-block{
  margin-top: 50px;
  padding: 20px;
  background-color:#aaf2eb;
  width: 40%;
  float: Right;

}
.card-block h6{
  font-size: 12px;
}
.card-block h6 strong{
  font-size: 14px;

}

form {
  display: flex;
  flex-direction: column;
}



