<header class="app-header">
  <div class="ui teal inverted segment">
    <div class="ui inverted secondary pointing menu">
      <a routerLink="/" class="item">
        Reserve in WashIt
      </a>
      <a routerLink="/booking-list" class=" item">
        Booking List
      </a>
      <div class="item right floated ">
        <button class="ui google submit button">
          <i class="google icon"></i>
          Sign In
          <!-- <div class="g-signin2"></div> -->
          <app-auth></app-auth>
        </button>
      </div>
    </div>
  </div>
</header>

