<header class="app-header">
  <div class="ui inverted segment">
    <div class="ui huge inverted secondary pointing menu">
      <a routerLink="/" class="item">
        Home
      </a>
      <a routerLink="/reserve" class="item">
        Reserve in WashIt
      </a>
      <a routerLink="/booking-list" class=" item">
        Booking List
      </a>
      <div class="item right floated ">
        <app-auth></app-auth>
        <!-- <button class="ui submit button" (click)="firstComponentFunction()"></button> -->
      </div>
    </div>
  </div>
</header>

